
/src/__pycache__
/res
data/.hf.txt
data/.key.txt
src/cfg_[0-9]*.py
.DS_Store
*.py~
*.tgz
*.swp
/imgs
/imgs_all
src/cfg_lv.py
src/cfg_oa.py
src/cfg_ch.py
note.txt
src/show_models
src/cfg_qw.py
/info
src/cfg_dm.py
/stat
src/test_qw.py
src/scan_res
